<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        .box.two {
            background-color: red;
        }
        .box.three {
            background-color: blue;
        }
        [v-cloak]{
            display: none;
        }
        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{greeting}}
        <input @keyup.enter="greet(greeting)" v-model="greeting" />

        <login-form />

        <hr />
        <button v-on:click.prevent.stop="toggleBox">Toggle Box</button>
        <div v-if="isVisible" class="box"></div>
        
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function(){
                return {
                    greeting: 'Hello Vue 3!',
                    isVisible: false,
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet(greeting){
                    console.log(greeting)
                }
            }
        })
        app.component('login-form', {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <p v-for="str in inputs">{{ str }}</p>
                    <custom-input v-model="email" :label="emailLabel"/>
                    <custom-input v-model="password" v-bind:label="passwordLabel" />
                    <button>Log In</button>
                </form>
            `,
            components: ['custom-input'],
            data(){
                return {
                    title: 'Login Form',
                    inputs: [
                        'email',
                        'password',
                        'name'
                    ],
                    email: '',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password',
                }
            },
            methods: {
                handleSubmit() {
                    console.log(this.email, this.password)
                }
            }
        })
        app.component('custom-input', {
            // v-model has modelValue from props and gets the input from computed
            template: `
                <label>
                    {{ label }}
                    <input type="text" v-model="inputValue">
                </label>
            `,
            props: ['label', 'modelValue'],
            //put variable names as KEYS
            computed: {
                inputValue: {
                    get(){
                        return this.modelValue
                    },
                    set(value){
                        //emit events that other components can listen to
                                    //event             argument
                        this.$emit('update:modelValue', value)
                    }
                }
            }
            // data(){
            //     return {
            //         inputValue: ''
            //     }
            // }
        })
        //mounts to the DOM
        app.mount('#app')
    </script>
</body>
</html>